/* ------ LAYOUTS : DETAIL PAGES ------ */


.details-content {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.content-text {
  padding-left: 4vw;
  flex: 0 1 60vw;
}

.content-image {
  align-self: center;
  img {
    max-width: 100%;
  }
}


#orders-confirmation {
  ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0px;
  }
}
