/* ------ LAYOUTS : DETAIL PAGES ------ */


.details-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.content-details {
  margin-bottom: 30px;
}


.content-image {
  align-self: center;
  flex: 0 0 35%;
  img {
    max-width: 100%;
    width: 100%;
  }
}

#orders-confirmation {
  ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0px;
  }
}



@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .content-text {
    flex: 0 1 56%;
    padding-left: 4vw;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

