<% if action_name == "home" %>
  <div id="home-navbar" class="navbar-container">
    <h2>cdlt/bisou.</h2>
  </div>
<% else %>
  <div id="pages-navbar" class="navbar-container">
    <div id="home-link">
      <%= link_to root_path do %>
        <h1 class="button-inverted">deux mille dix neuf</h1>
      <% end %>
      <h2>par cdlt,bisou.</h2>
    </div>
  </div>
<% end %>

