// import all files here

@import url("https://use.typekit.net/sss1qvf.css");


$body-font: "objektiv-mk2", sans-serif;
$form-fonts: "interstate-mono", monospace;
$headers-font: "objektiv-mk2", sans-serif;
$accent-font: "tenez", sans-serif;

$font-weight-light: 300; // objektiv
$font-weight-normal: 400; // objektiv - tenez
$font-weight-bold: 700; // objektiv - tenez
$font-weight-black: 800; // objektiv
