/* ------ COMPONENTS : NAVBAR ------ */

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  padding-right: 4vw;
}

#home-link {
  h2 {
    font-size: 1.6rem;
    text-align: right;
    font-weight: $font-weight-light;
  }
}
